// Equal to the default navbar height defined in the navbar class within bootstrap.css
$navbar-height: 50px;
$primary-color: #428bca;

@mixin font($size) {
  font: $size "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  @include font(14px);
  padding-top: $navbar-height;
}

form {
  .mandatory {
    color: red;
  }

  .mandatory-fields {
    @include font(12px);
    color: #7a7a7a;
  }
}

.form-container {
  border: 1px #d0d0d0 solid;
  border-radius: 8px;

  #form {
    margin-right: 15px;
    margin-left: 15px;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .appointment h4, .settings h4 {
    margin-bottom: 20px;
  }

  .btn-primary {
    margin-right: 5px;
  }
}

#customer-sheet-printer {
  display: none;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-logo {
  position: relative;
  float: left;
}

.navbar-logo a {
  background-image: url('../../public/images/small_logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: 15px;
  display: inline-block;
  width: 212px;
  height: 28px;
  margin-top: 11px;
}

.navbar-user {
  @include font(12px);
  float: right;
  text-align: right;
  margin-right: 25px;
  margin-top: 10px;
  color: #dddddd;
  a {
    color: #dddddd;
  }
  display: none;
}

@media (min-width: 768px) {
  .navbar-logo a {
    background-image: url('../../public/images/logo.png');
    width: 319px;
    height: 42px;
    margin-top: 4px;
  }

  .navbar-user {
    display: block;
  }
}

/*
 * Sidebar
 */

$sidebar-links-color: #00B7FF;
$sidebar-padding: 20px;

.sidebar {
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: $navbar-height + 1;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: $sidebar-padding;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

.sidebar a {
  color: $sidebar-links-color;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -1 * ($sidebar-padding + 1);
  margin-bottom: $sidebar-padding;
  margin-left: -1 * $sidebar-padding;
}
.nav-sidebar > li > a {
  padding-right: $sidebar-padding;
  padding-left: $sidebar-padding;
}

.nav-sidebar a.active,
.nav-sidebar a.active:hover,
.nav-sidebar a.active:focus {
  color: #fff;
  background-color: $primary-color;
}

/*
 * Main content
 */

.main {
  padding: $sidebar-padding;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.content-header {
  border-bottom: 2px solid $primary-color;
  padding-bottom: 15px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline;
      margin: 0 20px 0 0;
      height: 14px;
      font-size: 14px;

      > a {
        text-decoration: none;
        color: #484848;
      }
      > a:hover {
        color: #909090;
      }
      > a.active {
        font-weight: bold;
      }

      > a.disabled {
        color: #C3B6B6;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

.content-body {
  margin-top: 20px;
}

/*
 * Tables
 */

.table {
  tbody tr:not(.inactive) {
    cursor: pointer;
  }

  .table-btn-container {
    float: right;
    margin: 1px 7px 1px 7px;
  }

  .table-btn-container span {
    margin: 2px;
  }

  .glyphicon-print {
    color: #666;
  }

  .table-btn {
    cursor: pointer;
    padding: 6px 6px 6px 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
    &:hover {
      border: 1px solid $primary-color;
    }
  }

  .table-btn.disabled {
    cursor: auto;
    color: #ccc;
    &:hover {
      border: 1px solid #ccc;
    }
  }

  .glyphicon-plus {
    padding-right: 5px;
    padding-top: 5px;
    color: #666;
  }

  td b {
    color: $primary-color;
  }

  td.no-padding {
    padding: 0;
  }
}

/*
 * Customers page
 */

.search-form {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .search-form {
    float: right;
    position: relative;
    margin-top: 0px;
  }
}

#search-clear {
    display: none;
    position: relative;
    float: right;
    right: 10px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #606060;
    margin-top: -25px;
}

/*
 * Products page
 */

#products-table-container {

  .hidden-row {
    padding: 0;
    border-top: 0px;

    .table {
      border-top: 1px $primary-color solid;
    }
  }
}

/*
 * Settings page
 */

.colorpicker-selector.disabled i {
  cursor:not-allowed;
}

.settings-row {
  .col-xs-10 {
    padding-right: 5px;
    padding-left: 0px;
  }
  .col-xs-1 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/*
 * Customer and appointment pages
 */

.customer-name {
  color: #888888;
}

.alert a {
  color: #a94442;
  font-weight: bold;
}

.planned-appointment {
  font-style: italic;
  color: #999;
}

.appointment-table-container {
  margin-top: 15px;
}

/*
 * Popover
 */

.popover-title {
  white-space: nowrap;
}

.popover-body {
  margin: 10px 10px 10px 20px;
}

.popover-body .popover-content {
  padding: 0 0 10px 0;
}

.popover.top {
  margin-top: -5px;
}

.popover {
  width: 210px;
}

.popover-body button {
  margin-right: 5px;
}

/*
 * Login page
 */

#login-box {
  border: 4px solid $primary-color;
  margin-top: 60px;
  padding: 20px;
}

#login-box h2 {
  margin-bottom: 30px;
}

/*
 * Home page
 */
.react-autosuggest {
  position: relative;
  margin-right: 3px;

  input {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  &__suggestions {
    position: absolute;
    top: 45px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;

    &-section-suggestions {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-section:first-child &-section-name {
      border-top: 0;
    }

    &-section-name {
      padding: 10px 0 0 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: #777;
      border-top: 1px dashed #ccc;
    }
  }

  &__suggestion {
    cursor: pointer;
    padding: 10px 20px;

    &--focused {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

.date-selector-header {
  margin: auto;
  width: 30%;

  .glyphicon-menu-left {
    font-size: 13pt;
    margin-right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .date-selector {
    font-size: 18pt;
    /* Avoid the accidentally selection of the text.*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .glyphicon-menu-right {
    font-size: 13pt;
    margin-left: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.calendar-print-sheets {
  margin-top: 10px;
  margin-bottom: 20px;
  span {
    margin-left: 10px;
  }
}

#calendar-table-container {
  margin-top: 10px;

  h4 {
    border-bottom: 2px solid $primary-color;
    padding-bottom: 15px;
  }
}

@media screen {
  #print-container {
   display: none;
  }
}

@media print {

  body > * {
    display: none;
  }

  #print-container {
   display: block;
  }

  .customer-sheet {

    .appointment {
      margin-top: 10px;
    }

    .app-label {
      margin-left: 5px;
    }

    .app-table {
      margin-top: 5px;
    }

    table {
      margin-bottom: 20px;

      td {
        padding: 3px 5px 3px 5px;

        &:nth-child(1) {
          width: 25%;
        }
      }
    }
  }
}