<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-logo">
            <a href="/"><img src="/images/logo.png"></a>
        </div>
    </div>
</nav>