<div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>

    <div class="popover-body">
        <div class="popover-content"></div>
        <button type="submit" class="btn btn-primary btn-confirm" name="submit">{{confirm}}</button>
        <button type="submit" class="btn btn-default btn-cancel" name="submit">{{cancel}}</button>
    </div>
</div>