<div class="content-header">
    <ul>
        <li role="presentation" {{#if isWorkersActive}}class="active"{{/if}}>
            <a href="{{workersUrl}}">{{i18n.workers}}</a>
        </li>
        <li role="presentation" {{#if isServicesActive}}class="active"{{/if}}>
            <a href="{{servicesUrl}}">{{i18n.services}}</a>
        </li>
    </ul>
</div>