<div class="content-header">
    <ul>
        <li role="presentation" {{#if isWorkersActive}}class="active"{{/if}}>
            <a href="{{workersUrl}}">{{{__ 'Workers'}}}</a>
        </li>
        <li role="presentation" {{#if isServicesActive}}class="active"{{/if}}>
            <a href="{{servicesUrl}}">{{{__ 'Services'}}}</a>
        </li>
    </ul>
</div>