<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    {{#if isProduction}}
    <link rel="stylesheet" href="/stylesheets/main.min.css">
    {{else}}
    <link rel="stylesheet" href="/stylesheets/main.css">
    {{/if}}
</head>
<body>
    {{> navbar}}
    <div class="container-fluid">
        <div class="row col-sm-8 col-sm-offset-2">
            <div id="login-box">
            <h2 class="col-sm-offset-2">{{i18n.login}}</h2>
            {{> form_errors}}
            <form id="form" class="form-horizontal" method="post" action="/login">
                {{> input type='text' name='username' label=i18n.username }}
                {{> input type='password' name='password' label=i18n.password }}
                <input type='hidden' name="_csrf" value="{{csrftoken}}">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" name="submit">{{i18n.login}}</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>
