<div id="main-container">
</div>

<script>
  var i18n = {{{json i18n}}};
  var config = {{{json config}}};
</script>
{{#if isProduction}}
<script src="bundle.js"></script>
{{else}}
<script src="http://localhost:8080/bundle.js"></script>
{{/if}}